@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0;
}


/* Navbar */
.container {
    background-color: #363636;
    color: #ffffff;
}


ul {
    list-style: none;
    margin: 16px 32px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    margin-top: 12px;
    margin-left: 30px;
}

li a:hover {
    background-color: #ffffff;
    border-radius: 50px;
    color: #000000;
    transition: 1s;
}
/* Navbar END */


/* Content 1 */
.content1 {
    display: grid;
    grid-template-columns: 70% auto;
    padding: 0 48px 48px 48px;
    padding-left: 170px;
}

.content1 {
    background-image: url(gedung.jpg)
}

.text1 {
    margin: 0 64px;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.text1 p {
    color: white;
}

h1 {
    margin-top: 0;
}

#tag {
    margin-top: 0;
    margin-bottom: 24px;
    letter-spacing: 3px;
}

mark {
    background: #000000;
    color: white;
    padding: 5px 5px;
}

.isiTombol mark {
    background-color: #000000;
    font-size: 13px;
    border-radius: 30px;
    float: right;
    margin-top: 110px;
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px  solid #a1a0a0;
}

.isiTombol mark:hover {
    background-color: #ffffff;
    transition: 1s;
    color: black;
}
/* Content 1 END */

/* Content 2 */
.content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 380px;
    background-color: #000000;
    padding: 0 12%;
}

.content2 a {
    text-decoration: none;
    color: #3a3a3a ;
}

.text2 {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.text2 p  {
    padding-left: 100px;
    padding-bottom: 10px;
}

.text2 h2 {
    margin-left: 100px;
}
/* Content 2 END */

/* Footer */
.footer-main {
    background-color: #363636;
    padding: 24px 60px;
    color: white;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    justify-items: center;
}

.footer-3 a {
    text-decoration: none;
    color: white;
}

.footer-3 a:hover {
    color: #7c7c7c;
    transition: 0.3s;
}
/* Footer END */

/* Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
    transition:1s;
}
/* Scroll Bar END */